<template>
  <div
    class="wrapper m-1"
    @mouseover="windowWidth > 800 ? deleteMode = true : false"
    @mouseleave="windowWidth > 800 ? deleteMode = false : false"
  >
    <div
      :key="rsc.id"
      v-for="rsc in this.selectedRessource"
    >
      <BadgePicture
        :rsc="rsc"
        v-if="windowWidth > 800"
        :deleteMode="deleteMode"
        @remove="$emit('remove', rsc)"
      />
      <BadgePictureMobile
        :rsc="rsc"
        v-else
        :deleteMode="deleteMode"
        @changeMode="addTimeoutForMobile()"
        @remove="emitFromMobile(rsc)"
      />
    </div>
  </div>
</template>

<script>
import BadgePicture from '@/components/BadgePicture.vue'
import BadgePictureMobile from '@/components/BadgePictureMobile.vue'

export default {
  components: {
    BadgePicture,
    BadgePictureMobile
  },
  props: {
    windowWidth: {
      type: Number,
      default: 0
    },
    rsc: {
      type: Object,
      default: () => {
        return {};
      }
    },
    selectedRessource: {
      type: Array,
      default: []
    }
  },
  data () {
    return {
      timeout: 0,
      deleteMode: false
    }
  },
  methods: {
    addTimeoutForMobile () {
      this.changeDeleteMode(true)
      if (this.deleteMode === true) {
        if (this.timeout)
          clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          this.deleteMode = false
        }, 2000)
      }
    },
    emitFromMobile (rsc) {
      this.deleteMode = !this.deleteMode
      this.addTimeoutForMobile()
      this.$emit('remove', rsc)
    },
    changeDeleteMode (isMobile) {
      if (isMobile && this.windowWidth < 800) {
        this.deleteMode = !this.deleteMode
      } else if (!isMobile && this.windowWidth > 800) {
        this.deleteMode = !this.deleteMode
      }
    },

  },

}
</script>

<style lang="postcss" scoped>

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  justify-content: center;
  grid-gap: 10px;
  max-height: 300px;
  overflow-y: auto;
  margin: auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>